
body, html {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}


h1{ font-weight: 800;
	font-size: 45px;
	
}

h2{
	font-weight: 800;
	font-size: 40px;
	text-shadow: 4px 4px 1px rgba(101,123,193,0.4);
}


h3{ font-weight: bold;
    font-size: 25px;
    text-shadow: 5px 5px 1px rgba(101,123,193,0.5) }

h4{
	font-size: 15px;
	color: white;
}

p{
  font-size: 25px;
 margin: 30px 0px;
}

.hero-banner h1{
	color: #506cb0;
	margin: 14px 0 20px;
   	text-shadow: 5px 5px 1px rgba(250,250,250,0.6);

}

.hero-banner h3{
	color: white;
	margin: 0px 0px 30px;
}

.hero-banner h4,
.hero-banner h4 a {
	color:#072152;
	text-decoration: none;
	margin: 0;
}



.hero-banner {
	background-color: #A9A8B9;
	
	padding: 50px 10px 30px 30px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}


.wrapper { 
  width: 960px;
  margin: 0 auto; 
  }


.character1 { 
width: 360 ;
height: 340;
position: absolute; top:20px; right: 250px;
}

.character2 { 
float: right; 
position: absolute; top:180px; right: 410px; }

a.cta,
button.cta { 
font-size: 30px;
font-weight: bold;
color: white;
background: #506cb0;
display: inline-block;
border: 10px solid rgba(0,0,0,0.15);
padding: 10px; 
border-radius: 30px;
text-decoration: none;
cursor: pointer;
}


a.cta.alt,
button.cta.alt { 
background-color: #8cb122;
border: 10px solid rgba(0,0,0,0.15); 
cursor: pointer;
}



nav {
	height: 100px;
	background-color: #506cb0;
	box-shadow: 0px 5px 8px  rgba(0,0,0,0.2);
	position: sticky;
	top: 0;
	z-index: 1;
}


nav .logo{
	display: block;
	width: 300px;
	height: 90px;
	position: absolute; top:50%; left: 30px;
	margin-top: -50px;
	margin-left: 120px;
	background: url(logoo.png) no-repeat 0 0;
	background-size: 100%;
	overflow: hidden;
	text-indent: -999%;

}



nav ul {
	padding: 0;
	margin: 0px 20px 0px ;

}

nav ul li{
	padding: 0;
	margin: 0;
	display: block;
	float: right;
	}


nav ul li a{
	display: block;
	height: 100%;
	box-sizing: border-box;
	font-size: 30px;
	text-shadow: 0px 0px 5px rgba(255,255,255,0.7);
	text-transform: uppercase;
	color: #111111;
	text-decoration: none;
	padding: 35px 10px;
	line-height: 30px;
}	

.more-info{
 text-align: center;
}

.sep{
	width: 600px;
	height: 5px;
	background: #58647c;
	margin: 70px auto;

 
}

.nb-list {
	width: 460px;
	padding: 20px 20px 0px 20px;
	box-sizing: border-box;
	float: left;
	margin: 0 20px 20px 0;
	position: relative;

}

.nb-list li{
	height: 60px;
	border-radius: 15px;
	font-size: 40px;
	color: white;
	font-weight: bold;
	display: block;
	margin-bottom: 20px; 
	padding: 6px 20px;
	box-sizing: border-box;
}

.nb-list li.blue{ background-color: #506cb0;}
.nb-list li.grey{ background-color: rgba(0,0,0,0.2);}
.nb-list li.darkblue{ background-color: #58647c;}
.nb-list li.green{ background-color: #8cb122;}
.nb-list li.gray{ background-color: #072152;}





.nb-list li.dragging{
   position: absolute;
   width: 400px;
   top: 90px;
   left: 70px;
   right: -30px;
   transform: rotate(6deg);
   box-shadow: 0 2px 14px rgba(0,0,0,0.4)

}



.story h3{
	font-size: 30px;
	font-weight: bold;


}
.gang-img{
	display: block;
	margin: 0 auto;
}

footer{
	box-sizing: border-box;
	background-color: #8cb122;
	position: relative;
	text-align: center;
	color: rgba(0,0,0,0.7);
	font-size: 20px;
	padding: 5px;
	margin-top: 30px;

	

}

footer a{
	color: rgba(0,0,0,0.8);
	text-decoration: none;
}


/* AQUI EMPIEZA LA MOVIDA*/

.popup{
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 2;
}

.popup.show{
	display: block;
}


.popup .blanket{
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;

}

.popup .content{
	box-sizing: border-box;
	padding: 30px 40px;
	width: 960px;
	height: 440px;
	background-color: #BABFCF;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -250px;
	margin-left: -480px;

}

.popup h2{
	margin: 10px 0 20px;
	font-size: 50px;
	color: #58647c;
}

.popup .cta{
	margin-top: 20px;
}

.popup .close{
	width: 70px;
	height: 70px;
	background: #58647c url(salir.png) no-repeat center center;
	background-size: 50%;
	position: absolute;
	top: -40px;
	right: -40px;
	border-radius: 50%;
	border: none;
	outline: none;
	overflow: hidden;
	text-indent: -999%;
	cursor: pointer;

}


.popup .row{

}

.popup .row:after{
	content: '';
	display: table;
	clear: both;
}


.popup .item{
	float: left;
	width: 400px;
	margin-left: 40px;
	text-align: left;
}


.popup .item:first-child{
	margin-left: 0;
}

.popup .item .label{
	display: block;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 10px;
}

.popup .item input[type='text'] {
	display: block;
	font-size: 30px;
	font-weight: bold;
	border: 2px solid #111111;
	height: 70px;
	box-sizing: border-box;
	width: 100%;
	padding: 15px 20px;
	
}
