
body, html {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}


h1{ font-weight: 800;
	font-size: 45px;
	
}

h2{
	font-weight: 800;
	font-size: 30px;
}


h3{ font-weight: bold;
    font-size: 15px; }

h4{
	font-size: 15px;
	color: white;
}

p{
 font-weight: bold;
 font-size: 20px;
 margin: 30px 0px;
}

.hero-banner h1{
	color: white;
	margin: 14px 0 20px;
}

.hero-banner h3{
	color: white;
	margin: 0px 0px 30px;
}

.hero-banner h4,
.hero-banner h4 a {
	color:white;
	text-decoration: none;
	margin: 0;
}



.hero-banner {
	background-color: #A9A8B9;
	
	padding: 50px 10px 30px 30px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
}


.wrapper { 
  width: 960px;
  margin: 0 auto; 
  }


.character1 { 
width: 360 ;
height: 340;
position: absolute; top:20px; right: 250px; }

.character2 { 
float: right; 
position: absolute; top:180px; right: 410px; }

a.cta,
button.cta { 
font-size: 30px;
font-weight: bold;
color: white;
background: #506cb0;
display: inline-block;
border: 10px solid rgba(0,0,0,0.15);
padding: 10px; 
border-radius: 30px;
text-decoration: none;
}


a.cta.alt,
button.cta.alt { 
background-color: #8cb122;
border: 10px solid rgba(0,0,0,0.15); 
}



nav {
	height: 100px;
	background-color: white;
	box-shadow: 0px 5px 8px  rgba(0,0,0,0.2);
	position: sticky;
	top: 0;
}


nav .logo{
	display: block;
	width: 300px;
	height: 90px;
	position: absolute; top:50%; left: 30px;
	margin-top: -50px;
	margin-left: 120px;
	background: url(logoo.png) no-repeat 0 0;
	background-size: 100%;
	overflow: hidden;
	text-indent: -999%;

}



nav ul {
	padding: 0;
	margin: 0px 20px 0px ;

}

nav ul li{
	padding: 0;
	margin: 0;
	display: block;
	float: right;
	}


nav ul li a{
	display: block;
	height: 100%;
	box-sizing: border-box;
	font-size: 30px;
	text-transform: uppercase;
	color: #111111;
	text-decoration: none;
	padding: 35px 10px;
	line-height: 30px;
}	

.more-info{
 text-align: center;
}





/*<div class="more-info" id="more-info">
<h2> Join this New Era...</h2>
<p> Every week we have a meeting. If you want to join us then join our special project. <strong>You will not regret it.</strong>
Members will also receive individual advises, in all kinds of subjects and thematics. Cool huh? </p>
<button class="cta"> Sign me up!</button>    
</div> */